header {
    padding: 0px;
    text-align: left;
    background: #adcac1;
    color: white;
    font-size: 12px;
    margin: 0;
    height: 50px;
}


h1 {
	color: #fafaff;
    margin: 14px;
    float: left;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    margin-right: 10px;
}

ul.topnav li {
    float: right;
}

ul.topnav li a {
    display: block;
    color: #fafaff;
    text-align: center;
    margin: 3px;
    padding: 14px 4px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

ul.topnav li a:hover {
    border-bottom: 2px solid #487069;
}

ul.topnav li a.active {
    color: #1abc9c;
}
