
body {
  font-family: sans-serif;
  background-color: #d8e9f3;
  margin: 0px;
}

img {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 5px;
}

p {
	color:#00000
}

h2 {
	color:#00000
}