body {
  background-color: #2b4048;
  margin: 0px;
}

/*
.text backgroundcolor {
	opacity: 0.5; } 
								I slashed this out for now, could be useful for later. It is basically a hover over with opacity.
.text:hover {
	opacity: 1.0} 
*/
	
